{
  "extends": ["prettier"],
  "plugins": ["react", "@typescript-eslint", "testing-library"],
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
